@using Newtonsoft.Json
@using soen390_team01.Data
@model soen390_team01.Data.Entities.Bike


<div class="modal fade" id="@("bikeParts-"+Model.ItemId)" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5>Part List</h5> <br />
                <div class="row">
                    <table class="container" style="margin-left: 25%; margin-right: 25%;">
                        <tr class="row pt-4 pb-2 h-100 text-center">
                            <th class="col">ID</th>
                            <th class="col">Name</th>
                            <th class="col">Quantity</th>
                        </tr>
                        @foreach (var item  in Model.BikeParts)
                        {
                            <tr class="row pt-4 pb-4 h-100 text-center">
                                <td class="col">@item.PartId</td>
                                <td><button type="button" class="btn btn-outline-primary" onclick="removeBikePart(@JsonConvert.SerializeObject(item))">Remove</button></td>
                            </tr>
                        }
                    </table>
                </div> 

                <div class="row justify-content-center mt-4">
                    <form id="@("form-BikePart-" + Model.ItemId)">
                        <input type="text" name="PartId" placeholder="Part ID" />
                        <input type="number" min="1" name="PartQuantity" placeholder="Quantity" />
                        <button type="button" class="btn btn-primary ml-1 mr-1" onclick="addBikePart(@JsonConvert.SerializeObject(@Model.ItemId))">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>