@using Newtonsoft.Json
@model List<soen390_team01.Data.Entities.Bike>

<table class="table" width="100%">
    <tr>
        <td><u>ItemId</u></td>
        <td><u>Name</u></td>
        <td><u>Price</u></td>
        <td><u>Grade</u></td>
        <td><u>Size</u></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr >
            <td>@item.ItemId</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Grade</td>
            <td>@item.Size</td>
        </tr>
    }
</table>