@using Newtonsoft.Json
@model List<soen390_team01.Data.Entities.Bike>

<table class="table" aria-label="Bikes" width="100%">
    <tr>
        <th><u>ItemId</u></th>
        <th><u>Name</u></th>
        <th><u>Price</u></th>
        <th><u>Grade</u></th>
        <th><u>Size</u></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ItemId</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Grade</td>
            <td>@item.Size</td>
        </tr>
    }
</table>