@model soen390_team01.Services.IInventoryService
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Inventory";
    ViewData["selectedTab"] = "";
}

<head id="head">
    <title>Inventory</title>

    <link rel="stylesheet" href="\css\Inventory.css">

    <script type="text/javascript">
        function changeQuantity(inv, change) {
            inv.Quantity += change;
            $.ajax({
                url: '@Url.Action("ChangeQuantity", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(inv),
                dataType: 'html',
                success: function (result) {
                    $('.itemRow' + inv.InventoryId).html(result);
                },
                fail: function (result) {
                    alert("You don't have the permission required")
                }
            });
        };

        function passingFilters(filters, displayedName, filterInput, mobile = false) {
            filters.List = adjustFilters(filters, displayedName, filterInput);
            $.ajax({
                url: '@Url.Action("FilterProductTable", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    filters: filters,
                    mobile: mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.inventory-view').html(result);
                }
            });
        };

        function refreshFilter(type, mobile) {
            $.ajax({
                url: '@Url.Action("Refresh", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    selectedTab: type,
                    mobile: mobile
                }),
                dataType: 'html',
                success: function (result) {
                    $('.inventory-view').html(result);
                }
            });
        };

        function generateCsv(table_id)
        {
            var rows = document.querySelectorAll('table#' + table_id + ' tr');
            var csv = [];
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll('td, th');
                for (var j = 0; j < cols.length; j++) {
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    data = data.replace(/"/g, '""');
                    row.push('"' + data + '"');
                }
                csv.push(row.join(','));
            }
            var csv_string = csv.join('\n');
            var filename = table_id + '_' + new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate() + '.csv';
            var link = document.createElement('a');
            link.style.display = 'none';
            link.setAttribute('target', '_blank');
            link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

        function addBikePart(bikeId) {
            var formData = $("#form-BikePart-" + bikeId).serialize();
            formData += "&BikeId=" + bikeId;
            console.log(formData);
            $.ajax({
                url: '@Url.Action("AddBikePart", "Inventory")',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: formData,
                dataType: 'html',
                success: function (result) {
                    $("#modal-BikePart-" + bikeId).html(result);
                },
                fail: function (result) {
                    alert("You don't have the permission required")
                }
            });
        };

        function removeBikePart(bikePart) {
            $.ajax({
                url: '@Url.Action("RemoveBikePart", "Inventory")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(bikePart),
                dataType: 'html',
                success: function (result) {
                    $("#modal-BikePart-" + bikePart.BikeId).html(result);
                },
                fail: function (result) {
                    alert("You don't have the permission required")
                }
            });
        };
    </script>
    <script>
        function openTab(evt, tableName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            // Show the current tab, and add an "active" class to the button that opened the tab
            console.log(document.getElementById(tableName))
            document.getElementById(tableName).style.display = "block";
            evt.currentTarget.className += " active";

            document.getElementById("inventory-filter").style.display = "none";
            document.getElementById("bike-filter").style.display = "none";
            document.getElementById("part-filter").style.display = "none";
            document.getElementById("material-filter").style.display = "none";
            document.getElementById(tableName + "-filter").style.display = "block";
        }
    </script>
</head>


<div class="row inventory-view">
    @{await Html.RenderPartialAsync("InventoryBody", Model);}
</div>

@*<div class="modal fade" id="bikeParts" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5>Part List</h5> <br />
                <div class="row">
                    <table class="container" style="margin-left: 25%; margin-right: 25%;">
                        <tr class="row pt-4 pb-2 h-100 text-center">
                            <th class="col">ID</th>
                            <th class="col">Name</th>
                        </tr>
                        <tr class="row pt-2 pb-2 h-100 text-center">
                            <td class="col">ID1</td>
                            <td class="col">Part 1</td>
                        </tr>
                    </table>
                </div>
           
                <div class="row justify-content-center mt-4">
                    <input type="text" name="partID" placeholder="Part ID" />
                    <button type="button" class="btn btn-primary ml-1 mr-1">Add</button>
                    <button type="button" class="btn btn-outline-primary">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="partParts" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5>Material List</h5> <br />
                <div class="row">
                    <table class="container" style="margin-left: 25%; margin-right: 25%;">
                        <tr class="row pt-4 pb-2 h-100 text-center">
                            <th class="col">ID</th>
                            <th class="col">Name</th>
                        </tr>
                        <tr class="row pt-2 pb-2 h-100 text-center">
                            <td class="col">ID1</td>
                            <td class="col">Part 1</td>
                        </tr>
                    </table>
                </div>

                <div class="row justify-content-center mt-4">
                    <input type="text" name="materialID" placeholder="Material ID" />
                    <button type="button" class="btn btn-primary ml-1 mr-1">Add</button>
                    <button type="button" class="btn btn-outline-primary">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>