@model soen390_team01.Models.InventoryModel


<!--Table and its contents-->
<div class="container">
    <div class="bikeTable">
        <div class="row">
            <!--Tabs-->
            <div class="col-lg-12 mx-lg-auto">
                <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                    <li style="width: 100%;text-align:center;">
                        <a class="nav-link @(Model.SelectedTab == "All" ? "active" : "")" id="allTab" data-toggle="pill" href="#allTabContent" role="tab" aria-controls="allTabContent" aria-selected="false" hideFilter()>
                            View All Components
                        </a>
                    </li>

                    <li style="width: 33.33%;text-align:center;">
                        <a class="nav-link @(Model.SelectedTab == "Bike" ? "active" : "")" id="bikeTab" data-toggle="pill" href="#bikeTabContent" role="tab" aria-controls="bikeTabContent" aria-selected="false" onclick="showFilter('Bikes')">
                            Bikes
                        </a>
                    </li>
                    <li class="nav-item" style="width: 33.33%; text-align:center;">
                        <a class="nav-link @(Model.SelectedTab == "Part" ? "active" : "")" id="partTab" data-toggle="pill" href="#partTabContent" role="tab" aria-controls="partTabContent" aria-selected="false" onclick="showFilter('Parts')">
                            Parts
                        </a>
                    </li>
                    <li class="nav-item" style="width: 33.33%; text-align:center;">
                        <a class="nav-link @(Model.SelectedTab == "Material" ? "active" : "")" id="materialTab" data-toggle="pill" href="#materialTabContent" role="tab" aria-controls="materialTabContent" aria-selected="false" onclick="showFilter('Material')">
                            Material
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--/Tabs-->
        <!--Tab contents-->
        <div class="tab-content" id="pills-tabContent">
            <!--All components Tab-->
            <div class="tab-pane fade show @(Model.SelectedTab == "All" ? "active" : "")" role="tabpanel" aria-labelledby="allTab" id="allTabContent">
                <h4 style="text-align: center">All Compenents</h4>
                <div class="All-table text-center">
                    @{await Html.RenderPartialAsync("InventoryTable", Model.AllList);}
                </div>
            </div>
            <!--/All components Tab-->
            <!--Bikes Tab-->
            <div class="tab-pane fade show @(Model.SelectedTab == "Material" ? "active" : "")" role="tabpanel" aria-labelledby="bikeTab" id="bikeTabContent">
                <h4 style="text-align: center">Bikes</h4>
                <div class="Bike-table text-center">
                    @{await Html.RenderPartialAsync("BikeTable", Model.BikeList);}
                </div>
            </div>
            <!--/Bikes Tab-->
            <!--Parts Tab-->
            <div class="tab-pane fade show @(Model.SelectedTab == "Parts" ? "active" : "")" role="tabpanel" aria-labelledby="partTab" id="partTabContent">
                <h4 style="text-align: center">Parts</h4>
                <div class="Part-table text-center">
                    @{await Html.RenderPartialAsync("PartTable", Model.PartList);}
                </div>
            </div>
            <!--/Parts Tab-->
            <!--Material Tab-->
            <div class="tab-pane fade show @(Model.SelectedTab == "Material" ? "active" : "")" role="tabpanel" aria-labelledby="materialTab" id="materialTabContent">
                <h4 style="text-align: center">Material</h4>
                <div class="Material-table text-center">
                    @{await Html.RenderPartialAsync("MaterialTable", Model.MaterialList);}
                </div>
            </div>
            <!--/Material Tab-->
        </div>
        <!--/Tab contents-->
    </div>
</div>