@using Newtonsoft.Json
@model soen390_team01.Data.Entities.Inventory

<td>@Model.InventoryId</td>
<td>@Model.ItemId</td>
<td>@Model.Type</td>
<td>@Model.Warehouse</td>
<td>
    <div class="quantity">
        <button class="button-minus" onclick="changeQuantity(@JsonConvert.SerializeObject(@Model), -1)">-</button>
        <input type="number" class="quantity-text" value="@Model.Quantity" min="0"/>
        <button class="button-plus" onclick="changeQuantity(@JsonConvert.SerializeObject(@Model), 1)">+</button>
    </div>
</td>
