@model soen390_team01.Models.InventoryModel

<div id="bike-filter" class="filer-data" style="display:@(Model.SelectedTab == "bike" ? "block": "none")">
    @{await Html.RenderPartialAsync("Filter", Model.BikeFilters);}
</div>
<div id="part-filter" class="filer-data" style="display:@(Model.SelectedTab == "part" ? "block": "none")">
    @{await Html.RenderPartialAsync("Filter", Model.PartFilters);}
</div>
<div id="material-filter" class="filer-data" style="display:@(Model.SelectedTab == "material" ? "block": "none")">
    @{await Html.RenderPartialAsync("Filter", Model.MaterialFilters);}
</div>

<div class="bike-components">
    <div class="tab">
        <button class="tablinks @(Model.SelectedTab == "All" ? "active": "")" id="allButton" onclick="openTab(event, 'All'),hideFilter()">All</button>
    </div>
    <div class="tab">
        <button class="tablinks @(Model.SelectedTab == "bike" ? "active": "")" id="bikeButton" onclick="openTab(event, 'bike'),showFilter('bike')">Bike</button>
        <button class="tablinks @(Model.SelectedTab == "part" ? "active": "")" id="partButton" onclick="openTab(event, 'part'),showFilter('part')">Part</button>
        <button class="tablinks @(Model.SelectedTab == "material" ? "active": "")" id="matButton" onclick="openTab(event, 'material'),showFilter('material')">Material</button>
    </div>
    <div id="All" class="tabcontent" style="display: @(Model.SelectedTab == "All" ? "block": "none")" onclick="hideFilter()">

        <h3>All</h3>

        @{await Html.RenderPartialAsync("InventoryTable", Model.AllList);}
    </div>
    <!-- Tab content -->
    <div id="bike" class="tabcontent" style="display: @(Model.SelectedTab == "bike" ? "block": "none")" onclick="showFilter('bike')">

        <h3>Bikes</h3>
        <div class="Bike-table">
            @{await Html.RenderPartialAsync("BikeTable", Model.BikeList);}
        </div>

    </div>

    <div id="part" class="tabcontent" style="display: @(Model.SelectedTab == "part" ? "block": "none")" onclick="showFilter('part')">
        <h3>Parts</h3>
        <div class="Part-table">
            @{await Html.RenderPartialAsync("PartTable", Model.PartList);}
        </div>

    </div>

    <div id="material" class="tabcontent" style="display: @(Model.SelectedTab == "material" ? "block": "none")" onclick="showFilter('material')">
        <h3>Material</h3>
        <div class="Material-table">
            @{await Html.RenderPartialAsync("MaterialTable", Model.MaterialList);}
        </div>
    </div>
</div>