@using Newtonsoft.Json
@using soen390_team01.Data
@model soen390_team01.Data.Entities.Inventory

<td class="col">@Model.InventoryId</td>
<td class="col">@Model.ItemId</td>
<td class="col">@Model.Type</td>
<td class="col">@Model.Warehouse</td>
<td class="col">
    <div class="quantity">
        <button class="button-minus" onclick="changeQuantity(@JsonConvert.SerializeObject(@Model), -1)">-</button>
        <input type="number" class="quantity-text" value="@Model.Quantity" min="0" style="max-width:55px" />
        <button class="button-plus" onclick="changeQuantity(@JsonConvert.SerializeObject(@Model), 1)">+</button>
    </div>
</td>
<td class="col">@Model.Added.DateTimeLocalString()</td>
<td class="col">@Model.Updated.DateTimeLocalString()</td>
