@using Newtonsoft.Json
@model List<soen390_team01.Data.Entities.Material>
<table class="table" aria-label="Material" width="100%">
    <tr>
        <th><u>ItemId</u></th>
        <th><u>Name</u></th>
        <th><u>Price</u></th>
        <th><u>Grade</u></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@("itemRow" + item.ItemId)">
            <td>@item.ItemId</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Grade</td>
        </tr>
    }
</table>