@using Newtonsoft.Json
@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Part>
<!--Desktop view-->
<table class="table table-bordered table-hover" id="partTableCsv" aria-label="Parts">
    <tr>
        <th scope="col">ItemId</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Grade</th>
        <th scope="col">Size</th>
        <th scope="col">Added</th>
        <th scope="col">Updated</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td scope="col">@item.ItemId</td>
            <td scope="col">@item.Name</td>
            <td scope="col">@item.Price</td>
            <td scope="col">@item.Grade</td>
            <td scope="col">@item.Size</td>
            <td scope="col">@item.Added.DateTimeLocalString()</td>
            <td scope="col">@item.Updated.DateTimeLocalString()</td>
        </tr>
    }
</table>

<!--Mobile view-->
@*<table class="table table-bordered table-hover userMobile" id="partTableCsv" aria-label="Parts">
    <tr>
        <th scope="col"></th>
        <th scope="col">ItemId</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th class="btn btn-outline-info w-100" data-toggle="modal" data-target="#infoExpansion" scope="col">Expand</th>
            <td scope="col">@item.ItemId</td>
            <td scope="col">@item.Name</td>
            <td scope="col">@item.Price</td>
        </tr>

    }
</table>

<div class="modal fade" id="infoExpansion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th scope="col">ItemId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>

                        
                    </tr>
                    <tr>
                        <td scope="col">@Model[3].ItemId</td>
                        <td scope="col">@Model[3].Name</td>
                        <td scope="col">@Model[3].Price</td>
                    </tr>
                    </table>
            </div>
        </div>
    </div>

</div>*@
