@using Newtonsoft.Json
@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Part>

<link rel="stylesheet" href="\css\Inventory.css">

@foreach (var item in Model)
{
    <div id="@("PartMaterial-" + item.ItemId)">
        @{ await Html.RenderPartialAsync("PartMaterialList", item);}
    </div>

}

<table class="table table-bordered table-hover" id="partTableCsv" aria-label="Parts">
    <tr>
        <th scope="col">ItemId</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Grade</th>
        <th scope="col">Size</th>
        <th scope="col">Added</th>
        <th scope="col">Updated</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="idbutton" data-toggle="modal" data-target="@("#partMaterials-"+item.ItemId)" aria-hidden="true">@item.ItemId</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Grade</td>
            <td>@item.Size</td>
            <td>@item.Added.DateTimeLocalString()</td>
            <td>@item.Updated.DateTimeLocalString()</td>
        </tr>
    }
</table>
