@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Production>

<div class="container">
    <div class="row pt-4 pb-4 h-100 text-center">
        <div class="col"><u>ID</u></div>
        <div class="col"><u>Status</u></div>
        <div class="col"><u>Quantity</u></div>
        <div class="col"><u>Added</u></div>
        <div class="col"><u>Updated</u></div>
    </div>
    @foreach (var production in Model)
    {
        <div class="row pt-4 pb-4 h-100 text-center">
            <div class="col">@production.BikeId</div>
            <div class="col">@production.State</div>
            <div class="col">@production.Quantity</div>
            <div class="col">@production.Added.DateTimeLocalString()</div>
            <div class="col">@production.Modified.DateTimeLocalString()</div>
        </div>
    }
</div>