@using Microsoft.AspNetCore.Mvc.ModelBinding
@model soen390_team01.Models.TransfersModel

@{
    ViewData["Title"] = "Transfers";
}
<head>
    <title>Transfers</title>

    <link rel="stylesheet" href="\css\Transfers.css">
    <meta name="viewport" content="width=device-width" />

    <script>
        function showVendor() {
            document.getElementById("vendor").style.display = "";
        }

        function hideVendor() {
            document.getElementById("vendor").style.display = "none";
        }

        function showButton() {
            document.getElementById("procbutton").style.display = "";
        }

        function hideButton() {
            document.getElementById("procbutton").style.display = "none";
        }

        function showLargeVendor() {
            document.getElementById("largeVendor").style.display = "";
        }

        function hideLargeVendor() {
            document.getElementById("largeVendor").style.display = "none";
        }
        function showProcurementFilter() {
            document.getElementById("orderFilterDesk").style.display = "none";
            document.getElementById("procurementFilter").style.display = "";

        }

        function hideProcurementFilter() {
            document.getElementById("orderFilterDesk").style.display = "";
            document.getElementById("procurementFilter").style.display = "none";
        }


        function passingFilter(transferFilter,type) {
            console.log("test");
            $.ajax({
                url: '@Url.Action("FilterTransfers", "Transfer")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ "transferFilter": transferFilter, "type": type}),
                dataType: 'html',
                success: function (result) {
                    $(`.${type}-table`).html(result);
                }
            });
        };
        
    </script>
</head>

<body>
    <!--Buttons that only appear in mobile version-->
    <div class="container justify-content-center">
        <div class="row" id="mobileButtons">
            <button class="btn btn-outline-primary collapButton1" data-toggle="modal" data-target="#filterModal">Filter</button>
            <button class="btn btn-outline-primary collapButton2" style="display:none;" id="procbutton" data-toggle="modal" data-target="#procModal">Add Procurement</button>
        </div>
    </div>
    <!--/Buttons that only appear in mobile version-->
    <!-- Modal for filter in mobile mode-->
        @{await Html.RenderPartialAsync("ModalFilter", Model);}
    <!-- /Modal for filter in mobile mode-->

    <div class="row">
        <!--Table with tabs-->
        <div class="col-lg-8 mx-lg-auto" id="LHS">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li style="width: 50%;text-align:center;">
                    <a class="nav-link @(Model.SelectedTab == "Order" ? "active" : "")" id="orderTab" data-toggle="pill" href="#orderTabContent" role="tab" aria-controls="orderTabContent" aria-selected="true" onclick="hideVendor(); hideButton(); hideLargeVendor(),hideProcurementFilter();">
                        Order
                    </a>
                </li>
                <li class="nav-item" style="width: 50%; text-align:center;">
                    <a class="nav-link @(Model.SelectedTab == "Procurement" ? "active" : "")" id="procTab" data-toggle="pill" href="#procTabContent" role="tab" aria-controls="procTabContent" aria-selected="false" onclick="showVendor(); showButton(); showLargeVendor(),showProcurementFilter();">
                        Procurement
                    </a>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show @(Model.SelectedTab == "Order" ? "active" : "")" id="orderTabContent" role="tabpanel" aria-labelledby="orderTab">
                    <div class="container">
                        <div class="row pt-4 pb-4 h-100 text-center">
                            <div class="col"><u>ID</u></div>
                            <div class="col"><u>State</u></div>
                            <div class="col"><u>Customer</u></div>
                        </div>
                        @foreach (var order in Model.Orders)
                        {
                            <div class="row pt-4 pb-4 h-100 text-center">
                                <div class="col">@order.OrderId</div>
                                <div class="col">@order.State</div>
                                <div class="col">@order.Customer.Name</div>
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade show @(Model.SelectedTab == "Procurement" ? "active" : "")" id="procTabContent" role="tabpanel" aria-labelledby="procTab">
                    <div class="container">
                        <div class="row pt-4 pb-4 h-100 text-center">

                            <div class="col"><u>ID</u></div>
                            <div class="col"><u>State</u></div>
                            <div class="col"><u>Vendor</u></div>
                            <div class="col"><u>Item Id</u></div>
                            <div class="col"><u>Quantity</u></div>
                            <div class="col"><u>Price</u></div>
                        </div>
                        @foreach (var procurement in Model.Procurements)
                        {
                            <div class="row pt-4 pb-4 h-100 text-center">
                                <div class="col">@procurement.ProcurementId</div>
                                <div class="col">@procurement.State</div>
                                <div class="col">@procurement.Vendor.Name</div>
                                <div class="col">@procurement.ItemId</div>
                                <div class="col">@procurement.ItemQuantity</div>
                                <div class="col">@procurement.Payment.Amount</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--/Table with tabs-->
        <!--Filter area-->
        @{await Html.RenderPartialAsync("Filter", Model);}
    </div>

    <!-- Modal for procurement tab-->
    <div class="modal fade" id="procModal" tabindex="-1" role="dialog" aria-labelledby="procModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="procModalTitle">Add Procurement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-procurement">
                    <form method="post" asp-controller="Transfers" asp-action="AddProcurement">
                        <div class="row">
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.ItemId">Item ID</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.ItemId" class="form-control" />
                                <span asp-validation-for="AddProcurement.ItemId" class="text-danger"></span>
                            </div>
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.ItemType">Item Type</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.ItemType" class="form-control" />
                                <span asp-validation-for="AddProcurement.ItemType" class="text-danger"></span>
                            </div>
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.ItemQuantity">Item Quantity</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.ItemQuantity" class="form-control" />
                                <span asp-validation-for="AddProcurement.ItemQuantity" class="text-danger"></span>
                            </div>
                            <div class="col-4 text-right">
                                <label asp-for="AddProcurement.VendorId">Vendor Id</label>
                            </div>
                            <div class="col-6">
                                <input asp-for="AddProcurement.VendorId" class="form-control" />
                                <span asp-validation-for="AddProcurement.VendorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal for proucrement tab-->

</body>
