@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Order>

<table class="table table-bordered table-hover" id="orderTableCsv" aria-label="ot" style="overflow: scroll;">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">State</th>
        <th scope="col">Customer</th>
        <th scope="col">Added</th>
        <th scope="col">Updated</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.State</td>
            <td>@order.Customer.Name</td>
            <td>@order.Added.DateTimeLocalString()</td>
            <td>@order.Updated.DateTimeLocalString()</td>
        </tr>
    }
</table>