@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Order>

<table class="container" id="orderTableCsv">
    <tr class="row pt-4 pb-4 h-100 text-center">
        <th class="col">ID</th>
        <th class="col">State</th>
        <th class="col">Customer</th>
        <th class="col">Added</th>
        <th class="col">Updated</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr class="row pt-4 pb-4 h-100 text-center">
            <td class="col">@order.OrderId</td>
            <td class="col">@order.State</td>
            <td class="col">@order.Customer.Name</td>
            <td class="col">@order.Added.DateTimeLocalString()</td>
            <td class="col">@order.Updated.DateTimeLocalString()</td>
        </tr>
    }
</table>