@using Newtonsoft.Json
@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Procurement>


<table class="table table-bordered table-hover" id="procurementTableCsv" aria-label="pt" style="overflow: scroll;">
        <tr>
            <th class="col" scope="col">ID</th>
            <th class="col" scope="col">State</th>
            <th class="col" scope="col">Vendor</th>
            <th class="col" scope="col">Item Id</th>
            <th class="col" scope="col">Quantity</th>
            <th class="col" scope="col">Price</th>
            <th class="col" scope="col">Added</th>
            <th class="col" scope="col">Updated</th>
        </tr>
        @foreach (var proc in Model)
        {   
            <tr>
                <td>@proc.ProcurementId</td>
                <td>@proc.State</td>
                <td>@proc.Vendor.Name</td>
                <td>@proc.ItemId</td>
                <td>@proc.ItemQuantity</td>
                <td>@proc.Payment.Amount</td>
                <td>@proc.Added.DateTimeLocalString()</td>
                <td>@proc.Updated.DateTimeLocalString()</td>
            </tr>
        }
</table>