@using Newtonsoft.Json
@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Procurement>


<table class="container" id="procurementTableCsv" aria-label="pt">
        <tr class="row pt-4 pb-4 h-100 text-center">
            <th class="col" scope="col">ID</th>
            <th class="col" scope="col">State</th>
            <th class="col" scope="col">Vendor</th>
            <th class="col" scope="col">Item Id</th>
            <th class="col" scope="col">Quantity</th>
            <th class="col" scope="col">Price</th>
            <th class="col" scope="col">Added</th>
            <th class="col" scope="col">Updated</th>
        </tr>
        @foreach (var proc in Model)
        {   
            <tr class="row pt-4 pb-4 h-100 text-center">
                <td class="col">@proc.ProcurementId</td>
                <td class="col">@proc.State</td>
                <td class="col">@proc.Vendor.Name</td>
                <td class="col">@proc.ItemId</td>
                <td class="col">@proc.ItemQuantity</td>
                <td class="col">@proc.Payment.Amount</td>
                <td class="col">@proc.Added.DateTimeLocalString()</td>
                <td class="col">@proc.Updated.DateTimeLocalString()</td>
            </tr>
        }
</table>