@using Newtonsoft.Json
@using soen390_team01.Data
@model List<soen390_team01.Data.Entities.Payment>


<table class="table table-bordered table-hover" id="receivableTableCsv" aria-label="rt" style="overflow: scroll;">
    <tr>
        <th class="col" scope="col">ID</th>
        <th class="col" scope="col">Status</th>
        <th class="col" scope="col">Value</th>
        <th class="col" scope="col">Added</th>
        <th class="col" scope="col">Updated</th>
        <th class="col" scope="col">Edit</th>
    </tr>
    @foreach (var rec in Model)
    {

<tr>
    <td>@rec.PaymentId</td>
    <td>@rec.State</td>
    <td>@rec.Amount</td>
    <td>@rec.Added.DateTimeLocalString()</td>
    <td>@rec.Updated.DateTimeLocalString()</td>
    <td><button class="btn btn-outline-primary mr-1" id="@rec.PaymentId" onclick="showStatus(@rec.PaymentId, '@rec.State')">Edit</button></td>
</tr>}
</table>
