@model soen390_team01.Models.RegisterModel

@{
    ViewData["Title"] = "RegisterView";
    string[] TableHeader = new string[] { "First Name", "Last Name", "Role", "Phone Number", "Email", "Action" };
}
<head><link rel="stylesheet" href="\css\UserManagement.css"></head>

<h1>User Management</h1>

<hr />


<div id="PlaceHolderHere"></div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <form method="post" asp-controller="Register" asp-action="Index">
                <div>
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="PhoneNumber">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Role"></label>
                    <input asp-for="Role" class="form-control" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" value="Add User"/>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        @{
                            foreach (var head in TableHeader)
                            {
                                <th>@head</th>
                            }
                        }
                    </tr>
                </thead>
                @{
                    var users = ViewData["Users"] as List<soen390_team01.Data.Entities.User>;
                    foreach (var user in users)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Role</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#EditUser" data-url="@Url.Action($"GetUserById","Register",new { user.UserId })">Edit</button></td>
                        </tr>

                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Role</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#EditUser" data-url="@Url.Action($"GetUserById","Register",new { user.UserId })">Edit</button></td>
                        </tr>
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Role</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#EditUser" data-url="@Url.Action($"GetUserById","Register",new { user.UserId })">Edit</button></td>
                        </tr>
                    }
                }
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>